<div class="modal-body">
    <h2>{{this.data == null ? 'Crear producto': 'Editar producto'}}</h2>
    <p>Por favor, {{this.data === null ? 'llene': 'actualice'}} la información del producto a guardar</p>
    <form [formGroup]="form" fxLayout="column" fxLayoutGap="15px">
        <div>
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Nombre del Producto</mat-label>
                <input matInput type="text" formControlName="name">
              
            </mat-form-field>
            <div class="text-danger" formValidator [touched]="form.get('name')?.touched" [inputErrors]="form.get('name')?.errors" [errorDefs]="(erroresDefs?.editProduct)!.name"></div>

        </div>
        

      <div>
        <mat-form-field appearance="fill" fxFlex>
            <mat-label>Descripción</mat-label>
            <textarea matInput formControlName="description" rows="3"></textarea>
        </mat-form-field>
        <div class="text-danger" formValidator [touched]="form.get('description')?.touched" [inputErrors]="form.get('description')?.errors" [errorDefs]="(erroresDefs?.editProduct)!.description"></div>

      </div>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
            <div fxFlex="100" fxFlex.lt-md="50">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Precio</mat-label>
                    <input matInput type="number" formControlName="price">
                </mat-form-field>
                <div class="text-danger" formValidator [touched]="form.get('price')?.touched" [inputErrors]="form.get('price')?.errors" [errorDefs]="(erroresDefs?.editProduct)!.price"></div>
    
            </div>
            <div fxFlex="100" fxFlex.lt-md="50">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Stock</mat-label>
                    <input matInput type="number" formControlName="stock">
                </mat-form-field>
                <div class="text-danger" formValidator [touched]="form.get('stock')?.touched" [inputErrors]="form.get('stock')?.errors" [errorDefs]="(erroresDefs?.editProduct)!.stock"></div>
    
            </div>
            <div class="separador" fxFlex="100">
                <input  type="file" (change)="onFileChange($event)" accept="image/*" >
                <div class="text-danger" formValidator [touched]="form.get('image')?.touched" [inputErrors]="form.get('image')?.errors" [errorDefs]="(erroresDefs?.editProduct)!.image"></div>
            </div>
        </div>

        <div class="modal-footer" fxLayout="row" fxLayoutAlign="space-between center">
            <button mat-button type="button" data-dismiss="modal" (click)="cerrarModal()">Cerrar</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" (click)="editProduct()"   >Guardar Cambios</button>
        </div>
    </form>
</div>
